<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Answer this simple question to become a VIP member</h1>
    <b><p>Look at the following JavaScript function:</p></b>

    <i>function isPositive(num) { </i>
    <p><i>return num > 0;</i></p>
    <p><i>}</i></p>

    <% if (tryAgain) { %>
        <h2><b><%= tryAgain %></b></h2>
    <% } %>

    <b><p>What does this function return for a positive <i>(num)</i> ?</p></b>

    <form action="" method="POST">
        <label for="answer">Answer:</label>
        <input name="answer" placeholder="Enter your anser here" type="text">
        <button>Submit Answer</button>
    </form>
    <i>HINT: <b>It's a one word answer</b></i>

  </body>
</html>